:root {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center */
    max-width: 30%;
    height: 530px;
    margin: 0 auto;
    background-color: rgb(211, 211, 211, .2);
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    position: relative;
    top: 5rem;
  }

  .app .search input {
    border-radius: 1rem;
    border-color: rgb(252, 253, 254);
    background-color: rgba(72, 72, 72, 0.2);
    height: 2rem;
    width: 15rem;
    padding-left: 1rem;
    margin: 3rem 0 2rem 0;
    color: white;
  }

  .app .search input::placeholder {
    color: rgb(203, 207, 207);
  }
  
  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .values {
    display: flex;
  }
  /* Define CSS classes for different weather conditions */
.clear {
    background-image: url('./assets/clear.jpg');
  }
  
.rain {
    background-image: url('./assets/rain.jpg');
  }

.clouds {
    background-image: url('./assets/clouds.jpg');
  }

.snow {
    background-image: url('./assets/snow.jpeg');
  }

.drizle {
    background-image: url('./assets/drizzle.jpeg');
  } 

.thunderstorm {
    background-image: url('./assets/thunderstorm.jpeg');
  } 

.haze {
  background-image: url('./assets/haze.jpeg');
  background-size: cover;
  }

.default {
  background-image: url('./assets/bg_default2.jpg');
  background-size: cover;
}
  /* Add more classes for other weather conditions */
  