:root {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center */
    max-width: 30%;
    height: 530px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: rgb(211, 211, 211, .2);
    border-radius: 1rem;
  }

  .app .search input {
    border-radius: 1rem;
    border: none;
    background-color: rgba(72, 72, 72, 0.2);
    height: 2rem;
    padding-left: .7rem;
    margin: 3rem 0 2rem 0;
  }
  